.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  background-color: transparent;
  color: var(--talo-green);
  text-align: left;
  font-style: italic;
  font-size: 1.75rem;
  font-weight: 600;
  padding: 1rem 0;
  border-bottom: 0.08rem solid var(--talo-green);
  border-radius: 0;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq-question:hover {
  opacity: 50%;
}

.faq-question::after {
  content: '+';
  font-size: 1.75rem;
  margin-right: 1rem;
  display: block;
}

.faq .active::after {
  content: '-';
}

.faq-answer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
