*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25rem;
  background-color: white;
  color: var(--dark-green);
  /* background-image: url("./assets/css-effects/noise.svg"); */
}

:root {
  --talo-green: #015855;
  --main-color: #b6ece4;
  --navbar-color: #015855a8;
  --dark-green: #2f4f4f;
  --banner-color: #b6ece4;
  --navbar-height: 12vh;
  --banner-height: 7vh;
  --vote-yes-color: #12927e;
  --vote-no-color: #921226;
  --table-border-color: #2f4f4f59;
}

h1,
h2,
h3 {
  @apply font-bold;
  @apply leading-none;
}

h1 {
  @apply text-[3.5rem];
  @apply my-4;
  color: var(--talo-green);
}

h2 {
  @apply text-[1.8rem];
  @apply my-[0.85rem];
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

p {
  line-height: 150%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: calc(100vh - var(--banner-height) - var(--navbar-height));
}

.page-body {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 4rem 9rem;
  gap: 1rem;
}

button {
  cursor: pointer;
  background-color: var(--talo-green);
  width: fit-content;
  font-size: 1.2rem;
  padding: 1.2rem 1rem;
  font-weight: bold;
  border: none;
  color: white;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul li {
  line-height: 150%;
  margin-block-end: 0.5em;
}

ul {
  @apply list-disc;
  @apply list-outside;
  @apply pl-10;
  @apply my-4;
}
ul ul {
  @apply list-[circle];
  @apply my-0;
}

a {
  color: var(--dark-green);
  @apply underline;
  @apply hover:opacity-50;
}

@media only screen and (max-width: 920px) {
  .page-wrapper {
    position: relative;
    top: 18vh;
  }

  .page-body {
    padding: 3rem 2rem;
  }
}

#header-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  align-items: center;
}

#header-wrapper p {
  font-size: 1.6rem;
}

#title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#title-wrapper p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

#logo {
  width: 14rem;
  height: 14rem;
}

.HomePage button:hover {
  opacity: 80%;
}

@media only screen and (max-width: 920px) {
  .HomePage #logo {
    display: none;
  }
}
