#header-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  align-items: center;
}

#header-wrapper p {
  font-size: 1.6rem;
}

#title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#title-wrapper p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

#logo {
  width: 14rem;
  height: 14rem;
}

.page-body {
  gap: 2rem;
}

.HomePage button:hover {
  opacity: 80%;
}

@media only screen and (max-width: 920px) {
  .HomePage #logo {
    display: none;
  }
}
