---
import BannerContent from '@components/BannerContent';
import '@styles/Banner.css';
---

<div class="Banner">
    <p>
      There are only <BannerContent client:only="react" /> until the the Union Election
      on Thu 3/2!!{' '}
      <a href="/election-info">
        <b>Election Info</b>
      </a>
    </p>
  </div>