.Navbar {
  z-index: 1;
  display: flex;
  background-color: var(--talo-green);
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
  font-size: 1.2rem;
  border-bottom: 0.15rem solid var(--navbar-color);
  padding: 0.5rem 2rem;
}

.Navbar .active{
  color: white;
  font-weight: bolder;
}

.Navbar a {
  color: rgba(255, 253, 253, 0.728);
  font-weight: 400;
  text-decoration: none;
}

.Navbar #navbar-logo-option {
  max-width: 6rem;
  max-height: 6rem;
}

.navbar-options {
  display: flex;
  gap: 3rem;
  padding-right: 4em;
}

.MobileMenuButton {
  display: none;
}

@media only screen and (max-width: 920px) {
  .Navbar {
    position: fixed;
    top: var(--banner-height);
    width: 100vw;
    padding: 0.5rem 1rem;
  }
  .navbar-options {
    display: none;
  }

  .navbar-options.expanded {
    display: flex;
    position: fixed;
    top: calc(var(--banner-height) + var(--navbar-height));
    left: 0;
    height: calc(100vh - var(--banner-height) - var(--navbar-height));
    width: 100vw;
    background-color: var(--talo-green);
    flex-direction: column;
    padding: 0 0 10vh 0;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .Navbar #navbar-logo-option {
    max-width: 5rem;
    max-height: 5rem;
  }

  .MobileMenuButton {
    display: block;
  }

  #hamburger {
    width: 2rem; 
    height: 2rem;
  }
}







