.PressRelease .date {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.PressRelease .header {
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid var(--talo-green);
}

.PressRelease .release-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.25rem;
}