/* adapted from NYT Tech Guild's site https://github.com/newsguildny/nytimesguild.org/blob/4e9e5cbfabaf59e255997542acdfd92db74c4599/src/components/vote-count/VoteCountBar.tsx */

.VoteCountBar {
  padding: 1rem 0;
}

.yes-label,
.no-label {
  visibility: hidden;
}

.bar-labels {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 1.375rem;
  font-weight: 300;
}

.yes-label {
  padding: 0 0 1rem;
  color: var(--vote-yes-color);
}

.win-label {
  position: absolute;
  text-align: center;
  color: var(--dark-green);
}

.no-label {
  padding: 0 0 1rem;
  color: var(--vote-no-color);
}
.yes-count,
.no-count,
.win-label {
  font-size: 1.75rem;
  font-weight: 600;
}

.bar {
  position: relative;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  background: lightgray;
}

.bar-yes {
  background: var(--vote-yes-color);
}

.bar-no {
  background: var(--vote-no-color);
}

.bar-half {
  position: absolute;
  bottom: 0;
  width: 2px;
  height: 115%;
  background: black;
}
@media (min-width: 726px) {
  .yes-label,
  .no-label {
    visibility: visible;
  }
}
