---
import '@styles/PressRelease.css';
import Base from './Base.astro';

const frontmatter = Astro.props.frontmatter ?? {};
---

<Base title={frontmatter.title} description={frontmatter.description}>
  <div class="PressRelease">
    <div class="header">
      <h1>Press Release</h1>
      {frontmatter.date && <p class="date">{frontmatter.date}</p>}
    </div>
    <div class="release-body">
      <slot />
    </div>
  </div>
</Base>
